@import "tailwindcss";

.container{
  padding: 1rem;
  margin: 0 auto;
}
.banner-gradient{
  background: linear-gradient(to right, #FCD6FF, #29D8FF, #FFFD80, #F89ABF, #FCD6FF);
}
.nav-gradient{
  background:  linear-gradient(to right, #F87BFF, #FB92CF, #FFDD9B, #C2F0B1, #2FDBFE);
}